.registration {
  background-image: url("../../images/img/bg5.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  min-height: 942px;
  margin-top: -100px;
}
.registration__hair {
  margin-top: -80px;
}
.registration__box {
  display: flex;
  justify-content: space-between;
}
.registration__logo {
  padding-top: 50px;
  display: flex;
}
.registration__logo img {
  width: 195px;
  height: 195px;
  margin-right: 20px;
}
.registration__text {
  font-family: "Lilita One Rus";
  font-weight: 400;
  font-size: 56px;
  width: 410px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
