.feed-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #ffffff;
  border-radius: 30px;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #ca6b1b;
}

input {
  width: 340px;
  height: 32px;
  border-radius: 5px;
  padding: 0 10px;
  color: #828282;
  border: 1px solid #828282;
  margin-bottom: 20px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
  color: #262626;
}
.feed-form__text {
  font-family: "Lilita One Rus";
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #ca6b1b;
}

.feed-form__services {
  width: 362px;
  height: 34px;
  border-radius: 5px;
  padding: 0 10px;
  color: #828282;
  margin-bottom: 20px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
}
.date-box {
  display: flex;
  justify-content: space-between;
  color: #828282;
}
.date-box__item {
  margin-right: 10px;
  width: 150px;
}

.date-box__time {
  box-sizing: border-box;
  width: 150px;
  height: 32px;
}
.date-box__date {
  box-sizing: border-box;
  width: 150px;
  height: 32px;
  color: #828282;
}
.feed-form__area {
  font-family: "Lato";
  padding: 10px;
  width: 340px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.feed-form__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.feed-form__prof {
  width: 120px;
  position: relative;
  font-family: "Lato";
  font-weight: 500;
  font-size: 10px;
  color: #8f8f8f;
  margin-left: 20px;
}
span {
  text-decoration-line: underline;
  color: #ca6b1b;
}
.feed-form__prof::before {
  content: url("../../assets/images/icons/tick.png");
  position: absolute;
  left: -20px;
}
.feed-form__btn {
  width: 185px;
  height: 40px;
  background: #ca6b1b;
  border-radius: 5px;
  border: none;
  font-family: "Lato";
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}

label {
  font-family: "Lato";
  display: block;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #686161;
  margin-bottom: 4px;
}
