.advantage {
  background-image: url("../../images/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 880px;
  margin-top: -200px;
}
.advantage__relative {
  position: relative;
  height: 110px;
}
.advantage__dryer {
  position: absolute;
  top: -150px;
}
.title {
  /* text-align: center; */
  font-family: "Lilita One Rus";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}
.advantage__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantage__item {
  max-width: 500px;
  margin-bottom: 20px;
}
.advantage__item-title {
  font-family: "Lilita One Rus";
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  font-size: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
.advantage__item-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.promo__foots2 {
  display: block;
  margin: 0 auto;
  z-index: 10;
}
