@font-face {
  font-family: "Lilita One Rus";
  src: local("./fonts/Lilita One Russian"), local("LilitaOneRus"),
    url("./fonts/LilitaOneRus.woff2") format("woff2"),
    url("./fonts/LilitaOneRus.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.eot");
  src: url("./fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Lato-Bold.woff") format("woff"),
    url("./fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Semibold.eot");
  src: url("./fonts/Lato-Semibold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Lato-Semibold.woff") format("woff"),
    url("./fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.eot");
  src: url("./fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Lato-Regular.woff") format("woff"),
    url("./fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Light.eot");
  src: url("./fonts/Lato-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Lato-Light.woff") format("woff"),
    url("./fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;

  -moz-osx-font-smoothing: grayscale;
}
