body {
  position: relative;
}
.header {
  position: fixed;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 5;
  background-color: #ffffff;
}
.header .header__box {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}
.menu {
  display: flex;
}
.menu__items {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 50px;
  list-style-type: none;
  position: relative;
}
/* .menu__item:hover:nth-child(1) {
  border: 1px solid #000;

  padding-bottom: 20px;
} */

.menu__link {
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  padding: 0 10px;

  /* padding: 12px 10px 13px;
  border-radius: 9px;
  transition: background 0.2s ease; */
}

.menu__link:after {
  content: "";
  position: absolute;
  /* background-color: #ff3c78; */
  background-color: #6ecfd7;
  height: 3px;
  left: 0;
  bottom: -10px;
  width: 0;
  transition: 0.2s all;
}
.menu__link:hover::after {
  width: 100%;
}
.menu__link_active:after {
  width: 100%;
}
.active {
  color: red;
}

.btn {
  margin-right: 0;
  border: 1px solid #000;
  width: 200px;
  height: 50px;
  border: none;
  background: #e5922a;
  border-radius: 10px;
  text-align: center;
  color: white;
  transition: 0.3s all;
  cursor: pointer;
}
.btn:hover {
  background-color: #6ecfd7;
}

.submenu {
  position: absolute;
  left: -20px;
  top: 50px;
  opacity: 1;
  /* visibility: hidden; */
  width: 250px;
  background: #ffffff;
  border-radius: 20px;
  padding: 0;
  padding: 30px 16px 30px 30px;
}
.submenu::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 230px;
  width: 20px;
  transform: rotate(45deg);
  height: 20px;
  background-color: white;
}
/* li:hover #submenu {
  top: 65px;
  visibility: visible;
  opacity: 1;
} */
.submenu__item {
  list-style-type: none;
  margin-bottom: 10px;
}
.submenu__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  text-decoration: none;
  transition: 0.3s all;
}
.submenu__link:hover {
  color: #ca6b1b;
}
.submenu__wrapper {
  position: absolute;
  height: 200px;
  width: 100px;
}
