.feed-form_modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: #ffffff;
  border-radius: 30px;
  bottom: -550px;
  right: 100px;
}

input {
  width: 340px;
  height: 32px;
  border-radius: 5px;
  padding: 0 10px;
  color: #828282;
  border: 1px solid #828282;
  margin-bottom: 20px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
  color: #262626;
}
.feed-form__text {
  font-family: "Lilita One Rus";
  font-weight: 400;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #ca6b1b;
}
label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #262626;
  margin: 0;
}
.feed-form__services {
  width: 362px;
  height: 34px;
  border-radius: 5px;
  padding: 0 10px;
  color: #828282;
  margin-bottom: 20px;
  font-family: "Lato";
  font-weight: 600;
  font-size: 12px;
}
.date-box {
  display: flex;
  justify-content: space-between;
  color: #828282;
}
.date-box__time {
  display: block;
  padding: 0 10px;
  width: 160px;
  height: 32px;
}
.date-box__date {
  display: block;
  padding: 0 10px;
  width: 160px;
  height: 32px;
  color: #828282;
}
.feed-form__area {
  font-family: "Lato";
  padding: 10px;
  width: 340px;
  height: 64px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}
.feed-form__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.feed-form__prof {
  width: 120px;
  position: relative;
  font-family: "Lato";
  font-weight: 500;
  font-size: 10px;
  color: #8f8f8f;
  margin-left: 20px;
}
span {
  text-decoration-line: underline;
  color: #ca6b1b;
}
.feed-form__prof::before {
  content: url("../../images/icons/tick.png");
  position: absolute;
  left: -20px;
}
.feed-form__btn {
  width: 185px;
  height: 40px;
  background: #ca6b1b;
  border-radius: 5px;
  border: none;
  font-family: "Lato";
  font-weight: 700;
  font-size: 15px;
  color: #ffffff;
}
