/* @import "./Swaiper.css"; */

.children {
  background-image: url("../../assets/images/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  margin-top: -280px;
}
.children__box {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.children__img {
  position: absolute;
  top: -100px;
  right: 0;
}
.title_children {
  padding-top: 150px;
  width: 320px;
  margin-bottom: 10px;
}
.children__foots {
  display: block;
  margin-left: auto;
  padding-right: 150px;
  margin-top: 100px;
}
.children .slick-slide {
  width: 250px !important;
}
