.services {
  background-color: #f4ad54;
  padding-top: 170px;
  min-height: 2072px;
}
.services__box {
  display: flex;
  justify-content: space-between;
}
.services__item {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.services__pic {
  display: flex;
  padding-top: 50px;
}

.services__pic img {
  width: 195px;
  height: 195px;
  margin-right: 20px;
}
.services__dryer {
  margin-top: -85px;
}
.services__img {
  height: 140px;
}
.services__definition {
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
}
.services__text {
  display: inline-block;
  margin: 0;
  margin-left: 30px;
  width: 234px;
  font-family: "Lilita One Rus";
  font-size: 64px;
  color: #ffffff;
  text-transform: uppercase;
}
.services__foots {
  margin-top: -50px;
}
.services__content {
  width: calc(4 * var(--card-width) + 3 * 20px);
  display: flex;
  gap: 20px;
  animation: contentStandart 1200ms linear;
  animation-fill-mode: forwards;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}

@keyframes contentStandart {
  0% {
    width: calc(100px + 4 * var(--card-width) + 3 * 20px);
  }
  100% {
    width: calc(4000px * var(--card-width) + 3 * 20px);
  }
}

.services__order {
  background-image: url("../../images/img/services-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1200px;
  margin-top: -320px;
}
.services__footprint {
  display: block;
  margin: 0 auto;
}
